<!doctype html>
<html>
    <head>
        <title>flickrimag.es</title>
        <link rel="stylesheet" href="/static/style.css" type="text/css">
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
        <script type="text/javascript" src="/static/script.js"></script>
    </head>
    <body>
        <h1><span>flickrimag.es</span></h1>
        <ul class="navigation">
            <li><a href="#problem">The Problem</a>
            <li><a href="#solution">The Solution</a>
            <li><a href="#who">Who?!</a>
        </ul>
        <div class="boxes">
            <div class="bigbox">
                <div id="problem">
                    <h2>The Problem</h2>
                    <p>
                        Getting an avatar for a flickr user is a royal pain!
                        If you have their username you basically have to scrape
                        their profile page to get their ID number in order to
                        get their avatar.  Turns out after you've done this
                        once you realize it's more trouble than it's worth.
                    </p>
                </div>
                <div id="solution">
                    <h2>The Solution</h2>
                    <p>
                        Inspired by <a href="http://tweetimag.es/">tweetimag.es</a>
                        the solution is to have a service that can do all that
                        hard work for you.  All you need to do is plug a
                        username into our url and out comes an avatar!
                    </p>
                    <p>
                        For example if you wanted to see Jannis Leidel's
                        flickr avatar all you need to do is:
                        <pre>&lt;img src=&quot;http://flickrimag.es/i/jannis.jpg&quot; /&gt;</pre>

                        And out pops:
                        <br />
                        <img src="/i/jannis.jpg" />
                    </p>
                </div>
                <div id="who">
                    <h2>Who?!</h2>
                    <p>
                        This service was built by
                        <a href="http://alexgaynor.net">Alex Gaynor</a>, and
                        this page was designed by
                        <a href="http://lucumr.pocoo.org/">Armin Ronchaer</a>.
                        It was inspired by <a href="http://stu.mp/">Joe Stump's</a>
                        <a href="http://tweetimag.es/">tweetimag.es</a>.  And
                        <a href="http://oebfare.com/">Brian Rosner</a> has
                        graciously provided the hosting.
                    </p>
                </div>
            </div>
            <div class="smallbox">
                <h3>Apps Using flickrimag.es</h3>
                <p>
                    Currently we don't know about any applications
                    using flickrimag.es.  If you do, drop us a
                    line so that we can add you to this nonexisting
                    list.
                </p>
                <p>
                    Not exactly sure what to put into that list until
                    then.
                </p>
            </div>
        </div>
    </body>
</html>
